<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add place</title>
    <link rel="stylesheet" href="css/device.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/85f10d5e39.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/device.js"></script>

    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <div>
        <h1 style="display: flex; justify-content: center;">Thêm địa chỉ</h1>
        <form>
            <div class="form-group">
                <label for="namePlace">Tên địa điểm</label>
                <input type="text" class="form-control" id="namePlace" placeholder="Tên địa điểm">
            </div>
        </form>
        <div class="button">
            <button style="border: 0 solid" class="button-cancel">Cancel</button>
            <button style="border: 0 solid; margin-left: 10px;" class="button-add">Add</button>
        </div>
    </div>
</body>
</html>