<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/register.js"></script>
</head>
<body>
    <form>
        <h1>Register</h1>
        <label>
            Username: <input name="username" type="text" required><br>
        </label>
        <label>Email: <input name="email" type="email" required><br>
        </label>
        <label>Password: <input name="password" type="password" required><br>
        </label>
        <label>
            <button id="submit" type="button">submit</button><br>
            <input id="login" type="button" src="/" value="login">
        </label>
    </form>
</body>
</html>